<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('./partials/nav') %> %><%-
    include('./partials/subscriberNotLogged') %> <%-
    include('./partials/script') %>
  </body>
</html>
