<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Register</title>
  </head>
  <body>
    <%- include('./partials/nav') %> 


    <div class="container">
        <form action="/api/v1/users/register" method="POST">
            <div class="mb-3">
                <label for="FullName" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="fullName" name="fullName" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
              </div>
            
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>


    <%- include('./partials/script') %>
  </body>
</html>
