<div class="container">
  <form action="/api/v1/users/login" method="GET">
    <div class="mb-3">Do you want to receive a quote every day?</div>
    <button type="submit" class="btn btn-primary">Subscribe</button>
  </form>
</div>
