<div class="container">
  <form action="/api/v1/quote/subscribe" method="POST">
    <div class="mb-3">Click to receive daily quotes!</div>
    <button type="submit" class="btn btn-primary">Subscribe</button>
  </form>
</div>
