<div class="container">
  <form action="/api/v1/quote/unsubscribe" method="POST">
    <div class="mb-3">
      Already Subscribe</label>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #dc3545; border-color: #dc3545; color: #fff;">UnSubscribe</button>

  </form>
</div>
